@charset "utf-8"

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$azureishwhite-ultra-lighter: #F5F9FD
$azureishwhite-super-lighter: #E6F0FA
$azureishwhite-lighter: #D7E8F7
$azureishwhite: #C8E0F4
$azureishwhite-darker: #92A3B2
$azureishwhite-super-darker: #5B666F

$rackley-ultra-lighter: #EFF4F7
$rackley-super-lighter: #AFC9D7
$rackley-lighter: #7FA9BF
$rackley: #508AA8
$rackley-darker: #3B657B
$rackley-super-darker: #253F4D

$babyblueeyes-ultra-lighter: #EDF6FC
$babyblueeyes-super-lighter: #D2EAF8
$babyblueeyes-lighter: #B7DDF4
$babyblueeyes: #9DD1F1
$babyblueeyes-darker: #7399B0
$babyblueeyes-super-darker: #485F6E

$maastrichtblue-ultra-lighter: #D1D5D7
$maastrichtblue-super-lighter: #8C969C
$maastrichtblue-lighter: #475761
$maastrichtblue: #031927
$maastrichtblue-darker: #03131D
$maastrichtblue-super-darker: #020C12

$internationalorange-ultra-lighter: #F2D3D0
$internationalorange-super-lighter: #DF938B
$internationalorange-lighter: #CC5245
$internationalorange: #BA1200
$internationalorange-darker: #880E00
$internationalorange-super-darker: #550900

// update global var
$light: $maastrichtblue-super-lighter
$dark: $maastrichtblue-super-darker
$primary: $babyblueeyes-super-darker
$info: $rackley-darker
$link: $babyblueeyes
$success: black
$warning: $internationalorange-lighter
$danger: $internationalorange
$section-padding: 1rem 1rem

// body
$body-background-color: $rackley-ultra-lighter

// box
$box-background-color: $azureishwhite-ultra-lighter

// card
$card-background-color: $azureishwhite-ultra-lighter

// modal
$modal-background-background-color: rgba($rackley-super-darker, 0.75)
$modal-card-body-background-color: $azureishwhite-ultra-lighter
$modal-card-head-background-color: $rackley-ultra-lighter
$modal-card-body-padding: 14px
$modal-card-head-padding: 14px
$modal-content-width: 720px


// Import only what you need from Bulma
@import "bulma"