// add text color
.has-text-jet
  color: #333333 !important
.has-text-onyx
  color: #404040 !important
.has-text-space-cadet
  color: #262E40 !important
.has-text-dark-cornflower
  color: #233A6B !important
.has-text-new-blue
  color: #2E4D8E !important
.has-text-copper
  color: #B27006 !important
.has-text-fulvous
  color: #DB8906 !important


.has-text-whatsapp
  color: #25D366 !important
.has-text-skype
  color: #00AFF0 !important
.has-text-linkedin
  color: #2867B2 !important
.has-text-mail
  color: #C81924 !important
.has-text-phone
  color: #DFAC2A !important
.has-text-jedi
  color: #262E40 !important

.has-background-onyx
  background-color: #404040 !important