@charset "utf-8"

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// define global color var
$jet: hsl(0, 0%, 20%)
$onyx: hsl(0, 0%, 25%)
$space-cadet: hsl(223, 24%, 24%)
$dark-cornflower-blue: hsl(221, 51%, 28%)
$y-in-mn-blue: hsl(221, 51%, 37%)
$chocolate-web: hsl(28, 83%, 44%)
$fulvous: hsl(37, 95%, 44%)
$maximum-yellow: hsl(37, 98%, 65%)
$cultured: hsl(37, 98%, 65%)
$white: hsl(0, 0%, 100%)

// section global var
$section-padding: 1rem 1rem

// body
$body-background-color: #F6F6F6

// box
$box-background-color: #FFFFFF

// card
$card-background-color: #FFFFFF
$card-media-margin: 0.75rem

// button
$button-color: #333333
$button-hover-color: $chocolate-web
$button-text-color: #333333
$button-text-hover-color: #333333
$button-border-color: hsl(0, 0%, 80%)
$button-hover-border-color: hsl(0, 0%, 60%)

// modal
//$modal-background-background-color: rgba($rackley-super-darker, 0.75)
//$modal-card-body-background-color: $azureishwhite-ultra-lighter
//$modal-card-head-background-color: $rackley-ultra-lighter
//$modal-card-body-padding: 14px
//$modal-card-head-padding: 14px
//$modal-content-width: 720px


// Import only what you need from Bulma
@import "bulma"