@charset "utf-8"

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// update global var
$light: black
$dark: black
$primary: black
$info: black
$link: black
$success: black
$warning: black
$danger: black
$section-padding: 1rem 1rem

// body
$body-background-color: #F6F6F6

// box
$box-background-color: #FFFFFF

// card
$card-background-color: #FFFFFF

// modal
//$modal-background-background-color: rgba($rackley-super-darker, 0.75)
//$modal-card-body-background-color: $azureishwhite-ultra-lighter
//$modal-card-head-background-color: $rackley-ultra-lighter
//$modal-card-body-padding: 14px
//$modal-card-head-padding: 14px
//$modal-content-width: 720px


// Import only what you need from Bulma
@import "bulma"